<ion-view style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover ;" ng-controller="electionCtrl">
  <ion-content>

    <div class="bar bar-header bar-calm">
      <a  class="button button-outline icon ion-navicon button-dark" ng-click="showhide()"></a>
      <h1 class="title">OUR ACTION</h1>
      <a ui-sref="election" class="button icon-left ion-arrow-left-c button-clear button-dark"></a>
    </div>
    <br/><br/><br/>
    <!--<div class="">
    <a  class="button button-outline icon-center ion-navicon button-dark" ng-click="showhide()"></a>
    </div>-->



    <!--<div class="image2">
      ACTION
    </div>-->
    <br/>






    <div class="list card " ng-show="formvisible">
      <a ui-sref="information" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-folder"></i>
        ACHIEVEMENTS
      </a>
    </div>

    <div class="list card " ng-show="formvisible">
      <a ui-sref="products2" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-laptop"></i>
        EVENTS
      </a>
    </div>

    <div class="list card "ng-show="formvisible">
      <a ui-sref="candidate" class="item item-icon-left" style="background-color:deepskyblue; ">
        <i class="icon ion-person"></i>
        ABOUT CANDIDATE
      </a>

    </div>
    <div class="list card " ng-show="formvisible">
      <a ui-sref="reachus" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-map"></i>
        REACH US
      </a>
    </div>


    <div class="list card" >
      <div class="item item-image">
        <a ui-sref="actpage1" ><img src="img/act1.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage2" ><img src="img/act2.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage3" ><img src="img/act3.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage4" ><img src="img/act4.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage1" ><img src="img/act1.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage5" ><img src="img/act5.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage6" ><img src="img/act6.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>




    <!--<div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage1" ><img src="img/act1.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage2" ><img src="img/act2.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage3" ><img src="img/act3.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage4" ><img src="img/act4.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <a ui-sref="actpage5" ><img src="img/act5.jpg"></a>
      </div>
    </div>

    <div class="list card">
      <div class="item item-image">
        <img src="img/act6.jpg">
      </div>
    </div>-->
  </ion-content>
</ion-view>


