<ion-view view-title="Course Details">
  <ion-content class="has-footer">
    <md-card>
      <md-card-header>
        <md-card-avatar class="cmpLogo">
          <img  ng-src="img/dshan.jpg"/>
        </md-card-avatar>
        <md-card-header-text>
          <span class="md-title"> {{courseFeaturesDetails.title}}</span>
          <span class="md-subhead">Course Details</span>
        </md-card-header-text>
      </md-card-header>
      <img src="img/{{courseFeaturesDetails.imgName}}" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <!--<md-card-title-text>-->
          <!--<span class="md-headline">Card header</span>-->
        <!--</md-card-title-text>-->
      </md-card-title>
      <md-card-content>
        <div ng-cloak>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="Description">
                <md-content class="md-padding">
                  <!--<h2 class="md-display-2"> Description</h2>-->
                  <p>
                    {{courseFeaturesDetails.courseDesp}}

                  </p>
                </md-content>
              </md-tab>
              <md-tab label="Features">
                <md-content class="md-padding">
                  <!--<h2 class="md-display-2"> Features</h2>-->
                  <p>
                  <ul >
                    <li ng-repeat="i in courseFeaturesDetails.courseFeatures"><span>*</span>{{i}}</li>

                  </ul>

                  </p>
                </md-content>
              </md-tab>
              <md-tab label="Features">
                <md-content class="md-padding">
                  <!--<h3 class="md-display-1"> Features</h3>-->
                  <p>
                  <ul>

                    <li ng-repeat="i in courseFeaturesDetails.targetedAudiance"><span>*</span>{{i}}</li>

                  </ul>

                  </p>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>

        <a href="" target="" class="button button-assertive button-full icon-left"
           onclick="window.open('http://dshantechnologies.com/CoursePdf/BFSISyllabus.pdf')">
          <i class="icon ion-android-download"></i>
          Downloads Syllabus
        </a>
      </md-card-content>
    </md-card>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>


    </section>


  </ion-content>

</ion-view>
