
<!--
<ion-content class="cards-bg">

  <ion-card>

    <img src="img/meanStack.jpg"/>



    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="img/meanStack.jpg"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Erykah Badu
      </ion-card-title>
      <p>
        American singer-songwriter, record producer, activist, and actress, Badu's style is a prime example of neo-soul.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="img/meanStack.jpg"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Queen
      </ion-card-title>
      <p>
        The British rock band formed in London in 1970, and is considered one of the biggest stadium rock bands in the world.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="img/meanStack.jpg"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Run-D.M.C.
      </ion-card-title>
      <p>
        The American hip hop group widely acknowledged as one of the most influential acts in the history of hip hop.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='share-alt'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>



</ion-content>
-->



<ion-view viewtitle="cardsss">

  <ion-content>




    <div class="list card"   >

      <div class="item item-avatar">
        <img src="img/logo.jpg">
        <h2> {{indexDetails.indexHeading}}</h2>
        <p></p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{indexDetails.indexImage}}">
        <p>
          {{indexDetails.indexContent}}

        </p>
      </div>

    </div>

    <!--<div class="list card">

    <a ui-sref="app.about" class="item item-icon-left">
      <i class="icon ion-home"></i>
      ABOUT US
    </a>

    <a ui-sref="app.products" class="item item-icon-left">
      <i class="icon ion-ios-telephone"></i>
      OUR PRODUCTS
    </a>

    <a ui-sref="app.services" class="item item-icon-left">
      <i class="icon ion-wifi"></i>
      SERVICES
    </a>

    <a ui-sref="app.quality"class="item item-icon-left">
      <i class="icon ion-card"></i>
      QUALITY
    </a>

      <a ui-sref="app.contactus"class="item item-icon-left">
        <i class="icon ion-card"></i>
        CONTACT US
      </a>

  </div>-->
  </ion-content>
</ion-view>
