<!--
<ion-view >

  <ion-content>


    <div class="bar bar-header bar-calm">
      <h1 class="title">{{productDetails.productHeading}}</h1>
    </div>
<br/><br/><br/>
    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{productDetails.productImage[0]}}">
        <h2>{{productDetails.produtSubHeading[0]}}</h2>
        <p></p>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page6">
        <img src="{{productDetails.productImage[1]}}">
        <h2>{{productDetails.produtSubHeading[1]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page7">
        <img src="{{productDetails.productImage[2]}}">
        <h2>{{productDetails.produtSubHeading[2]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{productDetails.productImage[3]}}">
        <h2>{{productDetails.produtSubHeading[3]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page6">
        <img src="{{productDetails.productImage[4]}}">
        <h2>{{productDetails.produtSubHeading[4]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page7">
        <img src="{{productDetails.productImage[5]}}">
        <h2>{{productDetails.produtSubHeading[5]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{productDetails.productImage[6]}}">
        <h2>{{productDetails.produtSubHeading[6]}}</h2>
      </a>
    </div>
    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page6">
        <img src="{{productDetails.productImage[7]}}">
        <h2>{{productDetails.produtSubHeading[7]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page7">
        <img src="{{productDetails.productImage[8]}}">
        <h2>{{productDetails.produtSubHeading[8]}}</h2>
      </a>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" ui-sref="app.page4">
        <img src="{{productDetails.productImage[9]}}">
        <h2>{{productDetails.produtSubHeading[9]}}</h2>
      </a>
    </div>

  </ion-content>

</ion-view>
-->



<!--<ion-view ng-controller="MenuCtrl">

  <ion-content>
    <ion-side-menus>
  <ion-side-menu-content style="background-image:url(img/c4.jpg);background-repeat:no-repeat;background-size:cover;">


    <div class="bar bar-header bar-calm">
      <a  class="button button-outline icon ion-navicon button-dark" ng-click="toggleLeft()"></a>
      <h1 class="title">OUR ACTION</h1>
      <a ui-sref="election" class="button icon-left ion-arrow-left-c button-clear button-dark"></a>
    </div>

    <div class="list card  scroll-container" >
      <div class="item item-image">
        <a ui-sref="actpage1" ><img src="img/act1.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>

    <div class="list card ">
      <div class="item item-image">
        <a ui-sref="actpage2" ><img src="img/act2.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card ">
      <div class="item item-image">
        <a ui-sref="actpage3" ><img src="img/act3.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card ">
      <div class="item item-image">
        <a ui-sref="actpage4" ><img src="img/act4.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card ">
      <div class="item item-image">
        <a ui-sref="actpage1" ><img src="img/act1.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card ">
      <div class="item item-image">
        <a ui-sref="actpage5" ><img src="img/act5.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>


    <div class="list card ">
      <div class="item item-image">
        <a ui-sref="actpage6" ><img src="img/act6.jpg"></a>
      </div>
      <a class="item item-icon-left assertive" href="#" style="color:black;">
        <i class="icon ion-chevron-right"></i>
        KNOW MORE
      </a>
    </div>

    <button class = "button" ng-click = "scrollTop()">Scroll to Top!</button>


    </ion-side-menu-content>

  <ion-side-menu side="left" style="backgrpound-color:black;">

    <div class="list card ">

      <a ui-sref="action" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-man"></i>
        ACTION
      </a>
    </div>

    <div class="list card ">
      <a ui-sref="information" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-folder"></i>
        ACHIEVEMENTS
      </a>
    </div>

    <div class="list card ">
      <a ui-sref="products2" class="item item-icon-left" style="background-color:deepskyblue;">
        <i class="icon ion-laptop"></i>
        EVENTS
      </a>
    </div>

    <div class="list card ">
      <a ui-sref="candidate" class="item item-icon-left" style="background-color:deepskyblue; ">
        <i class="icon ion-person"></i>
        ABOUT CANDIDATE
      </a>

    </div>
    <div class="list card ">
      <a ui-sref="reachus" class="item item-icon-left" style="background-color:deepskyblue;" >
        <i class="icon ion-map"></i>
        REACH US
      </a>
    </div>
  </ion-side-menu>



    </ion-side-menus>
  </ion-content>

</ion-view>-->
<ion-view>
  <ion-content>
<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Ionic Maps</h1>
  </ion-header-bar>
  <ion-nav-view></ion-nav-view>
</ion-pane>
  </ion-content>
</ion-view>

<!--<ion-view ng-controller="Ctrl">
  <ion-content>
    <button class="button button-energized button-block"
            ng-click="openModal()">show Modal</button>
  <script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <button class="button button-icon icon ion-ios-close-outline"
                ng-click="closeModal()"></button>
        <h1 class="title">My Modal title</h1>
      </ion-header-bar>
        Hello!
    </ion-modal-view>
    </ion-content>
    </ion-view>-->
